.button {
    background-color: #283337;
    border: none;
    color: #ffffff;
    font-family: Arial;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 56px;
    height: 56px;
}